#temp{
    display: flex;
    width: 20%;
    height: 40px;
    background-color: white;
    border-radius: 10px;

}
#hello{
    width: 20%;
    height: 40px;
    background-color:rgb(45, 141, 180);
    border: none;
    border-radius: 30px;
   
}
#hai{
    width: 20%;
    height: 40px;
    background-color: rgb(45, 141, 180);
    border: none;
    border-radius: 30px;
}
#hello:hover{
    background-color: white;
    color: black;
}
#hello:hover{
    cursor: pointer;
}
#hai:hover{
    background-color: white;
    color: black;
}
#hai:hover{
    cursor: pointer;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    margin: 0; 
    height: 100vh; 
    background: url("https://tse3.mm.bing.net/th/id/OIP.b7EiYlQ4CpI5CtF2sM-cZgHaDO?cb=defcachec2&w=800&h=348&rs=1&pid=ImgDetMain&o=7&rm=3") no-repeat center center fixed;
    background-size: cover; 
}