#temp{
    display: flex;
    width: 20%;
    height: 40px;
    background-color: white;
    border-radius: 10px;

}
#hello{
    width: 20%;
    height: 40px;
    background-color: green;
    border: none;
    border-radius: 30px;
   
}
#hai{
    width: 20%;
    height: 40px;
    background-color: green;
    border: none;
    border-radius: 30px;
}
#hello:hover{
    background-color: chartreuse;
    color: black;
}
#hello:hover{
    cursor: pointer;
}
#hai:hover{
    background-color: chartreuse;
    color: black;
}
#hai:hover{
    cursor: pointer;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}